#page-inner {
  padding: 0;
}

#content {
  float: none;
  width: 100%;
}

#tabs {
  padding: 0 10px;
}

#player {
  float: none;
  width: 768px;
  min-height: 500px;
  margin: 0px auto;
}

#kv-playback-widget {
  padding-top: 10;
}

.kv-player {
  border-left: none;
  border-right: none;
}
