#page {
  width: 100%;
  padding: 0;
}

#tabs .ui-tabs-panel {
  height: auto;
}

.kv-vertical-kulu .edit-link,
.kv-vertical-kulu .tags {
  display: block;
}

#vertical-widget {
    height: auto !important;
}

.kv-kulu:hover .edit-link {
  display: none;
}

.kv-kulu:hover .tags {
  display: none;
}
