#page {
  width: 100%;
}

#page-inner {
  padding: 0;
}

#site-title {
  text-align: center;
  padding: 5px 5px 2px 5px;
  float: none;
}

#tagline {
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  font-size: 70%;
  float: none;
}

#content {
    float: none;
    width: 100%;
}

#tabs {
  padding: 0 2px;
}

#player {
  float: none;
  width: 320px;
  min-height: 315px;
  margin: 0 auto;
}

#kv-playback-widget {
  padding: 0;
}

.kv-player {
  border-left: none;
  border-right: none;
}

.kv-vertical-kulu .edit-link,
.kv-vertical-kulu .tags {
  display: block;
}

#vertical-widget {
    height: auto !important;
}

.kv-kulu:hover .edit-link {
  display: none;
}

.kv-kulu:hover .tags {
  display: none;
}



